:root{
    --clr-100: #FBF1E8;

}
body, header, h1, nav, p{
    padding: 0;
    margin: 0;
}
.heading{
    background-image: url(https://www.pjstar.com/gcdn/authoring/2016/07/29/NJOS/ghows-IP-38d0125b-9d34-25f2-e053-0100007fa0c8-67fd1620.jpeg?width=660&height=566&fit=crop&format=pjpg&auto=webp); 
    background-repeat: no-repeat;
    background-size: 100% 18rem;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    filter: brightness(0.8);
}
/* Naviagation bar to another web*/
.navBar{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    text-align: center;
    padding: 1rem 2.2rem;
    text-decoration: none;
    color: white;
}
/* Naviagation bar */
h1{
    color: #89dee2;
    text-align: center;
    padding: 115px 0;
}