:root{
    --clr-100: #FBF1E8;

}
body, header, h1, nav, p{
    padding: 0;
    margin: 0;
}
.heading{
    background-image: url(https://images.ctfassets.net/8ks1shyq5m87/rwQBjHpGulLsIrWQ8Dxrm/0691fffab8d0d704131d482d26add457/IMG_1293.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 18rem;
    width: 100%;
}
/* Naviagation bar to another web*/
.navBar{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    text-align: center;
    padding: 1rem 2.2rem;
    text-decoration: none;
    color: white;
}
/* Naviagation bar */
h1{
    background: rgba(0, 0, 0, 0.629);
    font-size: 2rem;
    color: yellow;
    text-align: center;
    padding: 115px 0;
}